importlib-metadata==4.13.0
numpy >= 1.17.0
scipy >= 1.0.0
gym == 0.21.0
pyglet >= 1.3.0, < 2.0
pyyaml >= 5.1
tqdm >= 4.11.0
typing-extensions
nashpy == 0.0.20
ray[rllib] >= 1.12.0, < 1.13.0  # later versions may work but have not been tested
torch
tensorboard
pickle5
wandb
